html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 220vh;
  background-color: var(--Very-light-gray);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: 612px) {
    height: 100vh;
  }
}
